/* ---Global styles----*/

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-400.woff2"),
    url("../fonts/lato-400.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-700.woff2"),
    url("../fonts/lato-700.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff"),
    url("../fonts/icons.woff2");
  font-weight: normal;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

:root {
  --bg-gray: #e5e5e5;
  --basic-blue: #0F6360;
  --basic-mint: #71B27E;
  --basic-light-green: #DFF8CA;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-yellow: #F8D981;
  --accent-yellow: #F1C233;
  font-size: 14px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.cv {
  font-family: "Lato", Arial, sans-serif;
  background-color: var(--bg-gray);
  line-height: 1.5;
}

.section{
  margin-bottom: 2rem;
}

.section__text {
  margin: 1.2em 0 0 0;
  font-size: 1.2rem;
}

.section__title {
  font-size: 2rem;
  margin: 0 0 10px 0;
  padding: 0 1em;
  border-radius: 1em;
  color: var(--basic-white);
  background-color: var(--basic-mint);
  width: 100%;
  box-sizing: border-box;
}

.header {
  background-color: var(--basic-blue);
  color: var(--basic-white);
  position: relative;
}

.header__hero {
  display: flex;
  flex-direction: column;
  overflow: visible;
  align-items: center;
  padding: 0 0 20px 0;
} 

.header__img-container {
  width: 50%;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--basic-white);
}

.header__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

@media (min-width: 776px) {
  :root {
    font-size: 16px;
  }

  .header__hero {
    flex-direction: row;
  }

  .header__img-container {
    max-width: 200px;
    max-height: 200px;
    margin-right: 1em;
  }

  .header__main {
    font-size: 1.3rem;
    text-align: left;
  }

  .content__left-column {
    display: flex;
    justify-content: space-around;
  }

  .footer {
    flex-direction: row;
  }

  .menu__btn {
    display: none;
  }

  .menu__list {
    display: none;
  }
}

@media (min-width: 992px) {
  :root {
    font-size: 18px;
  }

  .content {
    flex-direction: row;
  }

  .content__left-column {
    flex: 0 0 30%;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.header__main {
  flex-grow: 1;
  font-size: 2rem;
  margin-bottom: 0.5em;
  text-align: center;
}

.header__name {
  margin: 0;
}

.header__position {
  font-style: italic;
  margin: 0;
  font-size: 1em;
}

.contacts {
  text-align: right;
  margin: 0;
}

.contacts__item {
  display: block;
  color: var(--basic-white);
  text-decoration: none;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 1.2rem;
}

.contacts .icon {
  margin-left: 0.5em;
}

.header__menu {
  position: absolute;
  top: 0;
  left: 0;
}

.menu {
  position: relative;
}

.menu__btn {
  display: flex; 
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 1;
  padding: 0;
  background-color: transparent;
  border: none;
  
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color:var(--basic-white);
}
.menu__btn > span::before {
  content: '';
  top: -10px;
}
.menu__btn > span::after {
  content: '';
  top: 10px;
} 
.menu__list {
  min-width: 200px;
  background-color: var(--basic-mint);
  z-index: 2;
  display: none;
  margin: 0;
  padding: 55px 10px 20px 20px;
}

.menu__list_active {
  display: block;
}

.menu__item {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  padding: 0;
  cursor: pointer;
}

.menu__item a {
  color: var(--basic-white);
  text-decoration: none;
}

.menu__item:hover a{
  color: var(--accent-yellow);
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 1270px;
  margin: 0 auto;
  overflow: hidden;
}

.content__left-column {
  padding: 1em;
  background-color: var(--basic-light-green);
}

.content__right-column {
  padding: 1em;
  background-color: var(--basic-white);
}

.list {
  margin: 0;
  padding: 0;
}

.list__item {
  list-style: none;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 1.5rem;
}

.list__item::before {
  content: "";
  margin:  0 10px 2px 0;
  display: inline-block;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  border: 1px solid var(--basic-blue);
}

.portfolio .list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card::before {
  display: none;
}

.card {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-gray);
  box-sizing: border-box;
  border: 1px solid transparent;
}

.card:hover {
  border: 1px solid var(--accent-yellow);
  box-shadow: 5px 5px 7px var(--bg-gray);
}

.portfolio__card {
  padding: 1em;
  text-decoration: none;
  color: #000000;
}

.card__title {
  text-decoration: none;
  color: var(--basic-mint);
  margin: 0 0 5px 0;
}

.card__text {
  margin: 0 0 5px 0;
  font-size: 0.8rem;
}

.card__img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.code-example pre {
  white-space: pre-wrap;
}

.code-example code {
  max-height: 500px;
}

.footer {
  background-color: var(--basic-mint);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  color: var(--basic-white);
  position: relative;
  padding-top: 20px;
}

.icon {
  color: inherit;
  text-decoration: none;
}

.contacts__item:hover,
.icon:hover {
  color: var(--accent-yellow);
}

.contacts__item:active,
.icon:active {
  color: var(--basic-yellow);
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.social__item {
  list-style: none;
  margin-right: 1em;
  font-size: 2rem;
}

.copyright {
  font-size: 1.2rem;
}

.logo {
  display: flex;
  margin: 0 1em 1em 0;
}

.logo img{
  object-fit: contain;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-office:before {
  content: "\e903";
}
._icon-pencil:before {
  content: "\e905";
}
._icon-music:before {
  content: "\e911";
}
._icon-library:before {
  content: "\e921";
}
._icon-phone:before {
  content: "\e942";
}
._icon-location:before {
  content: "\e947";
}
._icon-binoculars:before {
  content: "\e985";
}
._icon-stats-bars:before {
  content: "\e99c";
}
._icon-briefcase:before {
  content: "\e9ae";
}
._icon-airplane:before {
  content: "\e9af";
}
._icon-power:before {
  content: "\e9b5";
}
._icon-sun:before {
  content: "\e9d4";
}
._icon-star-empty:before {
  content: "\e9d7";
}
._icon-star-half:before {
  content: "\e9d8";
}
._icon-star-full:before {
  content: "\e9d9";
}
._icon-mail2:before {
  content: "\ea84";
}
._icon-instagram:before {
  content: "\ea92";
}
._icon-telegram:before {
  content: "\ea95";
}
._icon-vk:before {
  content: "\ea98";
}
._icon-github:before {
  content: "\eab0";
}