/* ---Global styles----*/

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-400.woff2"),
    url("../fonts/lato-400.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../fonts/lato-700.woff2"),
    url("../fonts/lato-700.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff"),
    url("../fonts/icons.woff2");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-gray: #e5e5e5;
  --basic-blue: #0F6360;
  --basic-mint: #71B27E;
  --basic-light-green: #DFF8CA;
  --basic-white: #ffffff;
  --basic-black: #000000;
  --basic-yellow: #F8D981;
  --accent-yellow: #F1C233;
}

.visually-hidden {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

.cv {
  height: 100vh;
  font-size: 22px;
  font-family: "Lato", Arial, sans-serif;
  background-color: var(--bg-gray);
  line-height: 1.5;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.section{
  margin-bottom: 3rem;
}

.section__title {
  margin: 0;
  color: var(--basic-blue);
}

.header {
  display: flex;
  width: 100%;
  padding: 20px 15px;
  background-color: var(--basic-blue);
  color: var(--basic-white);
  overflow: visible;
  align-items: flex-start;
  box-sizing: border-box;
} 

.cv__img-container {
  max-width: 20%;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 1rem;
  border: 2px solid var(--basic-white);
}

@media (max-width: 776px) {
  :root {
    font-size: 12px;
  }
  .cv__hero{
    text-align: center;
  }
  .content {
    flex-wrap: wrap;
  }
  .content__left-column, 
  .content__right-column {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}

@media (max-width: 992px) {
  :root {
    font-size: 14px;
  }
  .header {
    flex-wrap: wrap;
    justify-content: center;
  }
  .cv__img-container {
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
  }
  .cv__hero {
    font-size: 24px;
    margin: 0 20px 20px 0;
  }
  .contacts__item {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.cv__img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.cv__hero {
  flex-grow: 1;
  font-size: 36px;
  margin-right: 30px;
}

.cv__name {
  font-size: 3rem;
  margin: 0;
}

.cv__position {
  font-style: italic;
  margin: 0;
  font-size: 2rem;
}

.contacts {
  text-align: right;
  margin: 0;
}

.contacts__item {
  display: block;
  color: var(--basic-white);
  text-decoration: none;
  margin-bottom: 20px;
  padding: 0;
  font-size: 20px;
}

.contacts .icon {
  margin-left: 10px;
}

.content {
  padding: 0;
  display: flex;
  width: 100%;
  max-width: 1270px;
  margin: 0 auto;
}

.content__left-column {
  padding: 80px 15px 0 15px;
  flex: 0 0 30%;
  background-color: var(--basic-light-green);
  box-sizing: border-box;
}

.content__right-column {
  padding: 80px 15px 0 30px;
  flex-grow: 1;
  background-color: var(--basic-white);
}

.list {
  margin: 0;
  padding: 0;
}

.list__item {
  list-style: none;
  margin-bottom: 10px;
  padding: 0;
}

.list__item::before {
  content: "";
  margin: 0 10px 5px 0;
  display: inline-block;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--basic-mint);
}

.portfolio .list__item::before {
  opacity: 0;
}

.cv__link {
  text-decoration: none;
  color: var(--basic-mint);
}

.cv__link:hover {
  color: var(--accent-yellow);
}

.cv__link:visited {
  opacity: 0.9;
}

.footer {
  background-color: var(--basic-mint);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  color: var(--basic-white);
  box-sizing: border-box;
}

.icon {
  color: inherit;
  text-decoration: none;
}

.contacts__item:hover,
.icon:hover {
  color: var(--accent-yellow);
}

.contacts__item:active,
.icon:active {
  color: var(--basic-yellow);
}

.social__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.social__item {
  list-style: none;
  margin-right: 15px;
  font-size: 30px;
}

[class^="_icon-"], [class*=" _icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-office:before {
  content: "\e903";
}
._icon-pencil:before {
  content: "\e905";
}
._icon-music:before {
  content: "\e911";
}
._icon-library:before {
  content: "\e921";
}
._icon-phone:before {
  content: "\e942";
}
._icon-location:before {
  content: "\e947";
}
._icon-binoculars:before {
  content: "\e985";
}
._icon-stats-bars:before {
  content: "\e99c";
}
._icon-briefcase:before {
  content: "\e9ae";
}
._icon-airplane:before {
  content: "\e9af";
}
._icon-power:before {
  content: "\e9b5";
}
._icon-sun:before {
  content: "\e9d4";
}
._icon-star-empty:before {
  content: "\e9d7";
}
._icon-star-half:before {
  content: "\e9d8";
}
._icon-star-full:before {
  content: "\e9d9";
}
._icon-mail2:before {
  content: "\ea84";
}
._icon-instagram:before {
  content: "\ea92";
}
._icon-telegram:before {
  content: "\ea95";
}
._icon-vk:before {
  content: "\ea98";
}
._icon-github:before {
  content: "\eab0";
}